/* DaysOfWeek Styling */
.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  text-align: center;
  font-weight: bold;
  color: #555;
}

.day-of-week {
  padding: 10px 0;
  background-color: #f9f9f9;
  border-radius: 4px;
}
