/* Filename: index.css - App entry styling. */

/* Body layout adjustments. */
body {
	margin: 0;
	padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
	background-color: var(--primary-bg);
	color: var(--text-color);
    font-family: var(--body-font);
    line-height: 1.6;
}

/* Root container styling. */
#root
{
    width: 100%;
    /*max-width: 1400px;*/
    padding: 2rem;
    box-sizing: border-box;
    /*margin: 0 auto;*/
    margin: 0;
}

/* Headings styling. */
h1, h2, h3, h4, h5, h6
{
	font-family: var(--title-font);
	color: var(--deep-blue);
	margin-top: 0;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.container
{
	background: var(--secondary-bg);
	border: 1px solid var(--accent-gold);
	padding: 2rem;
	border-radius: 12px;
	width: 100%
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    margin: 0;
}
